<div>
    <!-- TOP NAVBAR -->
    <nav role="navigation" class="navbar navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="entypo-menu"></span>
                </button>
                <button class="navbar-toggle toggle-menu-mobile toggle-left" type="button">
                    <span class="entypo-list-add"></span>
                </button>
                <div id="logo-mobile" class="visible-xs">
                    <h1>eQuiz
                        <span>v 1.0.1</span>
                    </h1>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">

                <ul style="margin-right:0;" class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" class="admin-pic img-circle" src="http://api.randomuser.me/portraits/thumb/men/10.jpg">Hi, {{user.name | capitalize}}
                        </a>
                    </li>
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" ng-click="signout()" href="javascript:void(0)">
                            <span class="icon-gear"></span>&#160;&#160;Log Out
                        </a>
                        <ul role="menu" class="dropdown-setting dropdown-menu">

                            <li class="theme-bg">
                                <div id="button-bg"></div>
                                <div id="button-bg2"></div>
                                <div id="button-bg3"></div>
                                <div id="button-bg5"></div>
                                <div id="button-bg6"></div>
                                <div id="button-bg7"></div>
                                <div id="button-bg8"></div>
                                <div id="button-bg9"></div>
                                <div id="button-bg10"></div>
                                <div id="button-bg11"></div>
                                <div id="button-bg12"></div>
                                <div id="button-bg13"></div>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden-xs">
                        <a class="toggle-left" href="#">
                            <span style="font-size:20px;" class="entypo-list-add"></span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="wrap-fluid">
        <div class="container-fluid paper-wrap bevel tlbr">
            <!-- CONTENT -->
            <!--TITLE -->
            <div class="row">
                <div id="paper-top">
                    <div class="col-sm-3">
                        <h2 class="tittle-content-header">
                            <span class="entypo-doc-text"></span>
                            <span>Challenge Board
                            </span>
                        </h2>
                    </div>

                    <div class="col-sm-9">
                        <div class="devider-vertical visible-lg"></div>
                        <div class="tittle-middle-header">

                            <div class="alert">
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:30px;padding:0 15px;">
                <div class="col-sm-8">
                    <div class="col-sm-12 panel panel-default">
                        <div class="col-sm-6">
                            Total Time Remaining :  &nbsp;&nbsp;<p ng-bind="counter"></p>
                        </div>
                        <div class="col-sm-6">
                            Points : &nbsp;&nbsp;<p> {{score}} </p>
                        </div>
                    </div>           
                </div>
            </div>    
            <div class="row" style="margin-top:30px;padding:0 15px;">
                <!--  BLOG CONTENT -->
                <div class="col-sm-8">
                    <div class="blog-list-nest">
                        <div class="blog-list-content" style="display: inline-block;" ng-if="index < questions.length">
                            <hr>
                            <h4>Question : {{index+1}}</h4></br>
                            <p>{{questions[index].question}}</p>
                            <hr>
                            <div ng-repeat="choice in questions[index].choices">
                                <div class="col-sm-12">   
                                    <div class="col-sm-6" ng-click="next($index, questions[index])" style="cursor:pointer; margin-bottom:10px;">
                                        <div class="btn btn-primary">{{capitalAlphabetMap[$index]}} : {{choice}}</div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default" ng-repeat="participant in participants | orderBy:'-points'">

                        <div class="panel-body" style="padding: 25px 25px 0 25px;">
                            <img class="media-object img-circle blog-profile" data-src="holder.js/64x64" alt="64x64" src="http://api.randomuser.me/portraits/thumb/men/10.jpg" style="float: left;">
                            <p class="lead text-center">{{participant.name | capitalize}} <a class="entypo-up-bold" style="width:20px;"></a></p>
                            <p class="tex-center social-blog-profile">
                                <a class="fontawesome-star" href="#"> {{participant.points}} </a>
                            </p>
                        </div>
                        <hr style="margin:0;">
                    </div>
                </div>
            </div>
        </div>
        <!-- /END OF CONTENT -->
        <!-- FOOTER -->
        <div growl>{{1+1}}</div>

        <!-- / END OF FOOTER -->
    </div>
    <!--  END OF PAPER WRAP -->

    <!-- RIGHT SLIDER CONTENT -->
    <div class="sb-slidebar sb-right">
        <div class="right-wrapper">
            <div class="row">
                <h3>
                    <span><i class="entypo-gauge"></i>&nbsp;&nbsp;Currently Online</span>
                </h3>
                <div class="col-sm-12">

                    <div class="widget-knob">
                        <span class="chart" style="position:relative" data-percent="86">
                            <span class="percent"></span>
                        </span>
                    </div>
                    <div class="widget-def">
                        <b>Distance traveled</b>
                        <br>
                        <i>86% to the check point</i>
                    </div>

                    <div class="widget-knob">
                        <span class="speed-car" style="position:relative" data-percent="60">
                            <span class="percent2"></span>
                        </span>
                    </div>
                    <div class="widget-def">
                        <b>The average speed</b>
                        <br>
                        <i>30KM/h avarage speed</i>
                    </div>


                    <div class="widget-knob">
                        <span class="overall" style="position:relative" data-percent="25">
                            <span class="percent3"></span>
                        </span>
                    </div>
                    <div class="widget-def">
                        <b>Overall result</b>
                        <br>
                        <i>30KM/h avarage Result</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-space">
        <div id="footer">
            <div class="devider-footer-left"></div>
            <div class="time">
                <p id="spanDate"></p>
                <p id="clock"></p>
            </div>
            <div class="copyright">Make with Love
                <span class="entypo-heart"></span> 2015 <a href="javascript:void(0);"> November Hackathon</a> All Rights Reserved.</div>
            <div class="devider-footer"></div>

        </div>
    </div>    
</div>